.container{
    background-color: #9d0bff;

    .to-do-container{
        height: 1080px;
        width: 500px;
        background-color:#ff5285;
        margin: auto;

        .add-new-task{
            
        }
    }
}